
@{
    ViewBag.Title = "FailedLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FailedLogin</h2>
<p>Password or UserName is Incorrect</p>

<p>
    @Html.ActionLink("Back to Login", "Login", "Home") |
    @Html.ActionLink("Sign Up", "InsertData", "Home")
</p>
