@model RegisterMVC_1.Models.RegisterMVC

@{
    ViewBag.Title = "SuccsesFullyLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SuccsesFullyLogin</h2>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
