<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayerEmp.Properties.Settings.EmployeeLinqConnectionString"
            connectionString="Data Source=NAG1-LHP_N76275;Initial Catalog=EmployeeLinq;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>