@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book_Store</h1>
    <p class="lead">Book Store is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Education is most necessary for Nation's Developement'
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        
    </div>
    <
</div>